.shopWindow{
    width: 1140px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.car {
    width: 29%;
    border: solid 1px #0098A6;
    margin-bottom: 40px;
}
.car h2 {
    text-align: center;
}
.filter{
    width: 200px;
}
.filter label {
    margin: 10px;
    font-size: 20px
}
.avto {
    display: flex;
}
.carImg img {
    margin: auto;
    width: 95%;
    display: block;
}
.description {
    margin: 10px;
    text-align: center;
    font-size: 18px;
}
.price {
    text-align: center;
    font-size: 22px;
    margin-bottom: 20px;
}
.price span {
    font-style: 35px;
    color: forestgreen;
}
.country {
    text-align: center;
    margin-bottom: 20px;
}
.hidden {
    display: none;
}